<script lang="ts" setup>
import { ref } from "vue";
const myText = ref(0);
</script>

<template>
  <div></div>
  <div>
    <v-container>
      <v-col cols="12">
        <v-text-field
          v-model.number="myText"
          label=" Please input number"
          :rules="[(v) => !!v || 'Nunber is not empty!!']"
          required
        ></v-text-field>
      </v-col>
    </v-container>
    <v-container>
      <v-row>
        <v-col cols="1" v-for="index in myText" :key="index">
          {{ index }}
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
