<script lang="ts" setup>
import { ref, computed } from "vue";

const message = ref("Smile");
const pic = ref("feeling_imgs/smile.png");
function angry() {
  message.value = "Angry";
  pic.value = "feeling_imgs/angry.png";
}
function cute() {
  message.value = "Cute";
  pic.value = "feeling_imgs/cute.png";
}
function excited() {
  message.value = "Excited";
  pic.value = "feeling_imgs/excited.png";
}
function pain() {
  message.value = "Pain";
  pic.value = "feeling_imgs/pain.png";
}
function shocked() {
  message.value = "Shocked";
  pic.value = "feeling_imgs/shocked.png";
}
function smile() {
  message.value = "Smile";
  pic.value = "feeling_imgs/smile.png";
}
// function changeText(index: number, text1: string) {
//   img.value[index].text1 = text1;
//
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-container>
          <v-img :src="pic"></v-img>
        </v-container>
      </v-col>

      <v-col>
        <v-container>
          <v-row>
            <v-container class="my-2">
              <p id="text" class="text-center">{{ message }}</p>
            </v-container>
            <div class="my-2">
              <v-btn class="btn" width="600" @click="angry">ANGRY</v-btn>
            </div>
            <div class="my-2">
              <v-btn class="btn" width="600" @click="cute">CUTE</v-btn>
            </div>
            <div class="my-2">
              <v-btn class="btn" width="600" @click="excited">EXCITED</v-btn>
            </div>
            <div class="my-2">
              <v-btn class="btn" width="600" @click="pain">PAIN</v-btn>
            </div>
            <div class="my-2">
              <v-btn class="btn" width="600" @click="shocked">SHOCKED</v-btn>
            </div>
            <div class="my-2">
              <v-btn class="btn" width="600" @click="smile">SMILE</v-btn>
            </div>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.btn:active,
.btn:focus {
  background-color: yellow;
}
</style>
