<script setup lang="ts">
import { ref } from "vue";
const num1 = ref(0);
const num2 = ref(0);
function increment() {
  num1.value = num1.value + 1;
  num2.value = num2.value + 2;
}

function decrease() {
  if (num1.value > 0 && num2.value > 0) {
    num1.value = num1.value - 1;
    num2.value = num2.value - 2;
  }
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-container>
          <v-col cols="12">
            <v-row>
              <v-text> First Component </v-text>
            </v-row>
            <v-row>
              <v-text>
                {{ num1 }}
              </v-text>
            </v-row>

            <v-row>
              <v-btn @click="increment" justify="end" small elevation="2">
                INCREMENT
              </v-btn>
            </v-row>
          </v-col>
        </v-container>
      </v-col>
      <v-col>
        <v-container>
          <v-col>
            <v-row>
              <v-text> Second Component </v-text>
            </v-row>
            <v-row>
              <v-text>
                {{ num2 }}
              </v-text>
            </v-row>
            <v-row>
              <v-btn @click="decrease" justify="end" small elevation="2">
                DECREASE
              </v-btn>
            </v-row>
          </v-col>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
